body {
    background-color: whitesmoke;
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    height: 100%
}
html{
    scroll-behavior:smooth;    
}

#header{
    background-color: black;
    box-shadow: 2px 2px 20px #036d64; 
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

#welcome{
    color: white;
    font-size: larger;

}

.nav-item a:hover{
    background-color: #036d64;
    color:#3c6e71ff;
    box-shadow: white;
    border-radius: 5px;
    padding: 10px;
}

#home{
    padding-top: 40px;
}

#about-me{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

#about-me h1{
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
}

#about-me p{
    font-size: 1.6rem;
    font-family: "Old Standard TT", serif;
}

#avatar img{
    height: 350px;
    width: 275px;
    margin-top: -20px;
    border-radius:10rem
}

.intro{
    background-color:#3c6e71ff;
    border-radius: 20px;
    box-shadow: black 7px 10px 10px 0px;
    padding: 20px;
    color: rgb(229, 226, 226)
}

#intro-title{
    text-decoration: underline;
    color: black;
}

#work-section{
    background-color:black;
    color: white;
    padding: 20px 20px;
}

.headings{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.title h3{
    font-family: "Old Standard TT", serif;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.4rem;
}

.card{
    color: black;
    font-family: "Old Standard TT", serif;
    margin-top: 50px;
}
.card-img-top {
    padding-top: 10px;
    object-fit: cover;
}
.card-text{
    height: 50px;
}

#github{
    display: flex;
    justify-content: flex-end;
}

footer{
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-top: 80px;
    padding: 5px;
    background-color: black;
    box-shadow: 2px -2px 20px #036d64;
}

#icon{
    padding-left: 30px;
}
